<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/recomd.css">
  <title>Product Manager</title>
 
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Nosifer&family=Poppins:ital,wght@0,300;0,400;1,200;1,300&display=swap" rel="stylesheet">

<script src="https://kit.fontawesome.com/e3bb2f2a0d.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="header">
  <div class="container">
    <nav>
      <h1>TechZone </h1>
    <ul>
      <li><a href='/home'>Home</a></li>
      <li><a href='/about'>About</a></li>
      <li><a href='/home'>Functions</a></li>
      <li><a href='/home'>Contact</a></li>
    </ul>
  </nav>

  </div>
</div>

<div class="newdiv">
<table  width="100%">
  <tr>
    <th>Gadget Name</th>
    <th>Gadget ID</th>
    <th>Price</th>
    <th>Availability</th>
    <th>Manufacturer</th>
  </tr>
   {{#each recommd1}}
    <tr>
        
        <td>{{this.name}}</td> 
        <td>{{this.gadget_id}}</td> 
        <td>{{this.price}}</td> 
        <td>{{this.availability}}</td> 
        <td>{{this.manufacturer}}</td> 
    </tr>
      
     
    {{/each}}
</table>
</div>
</body>
</html>